<h1>Welcome to Monster Trainer!</h1>

<% if logged_in? %>
  <p><%= link_to "View your monster collection", trainer_path(current_trainer) %></p>
<% else %>
  <p><%= link_to "Please log in with GitHub", '/auth/github' %></p>
<% end %>
